node-red-dash.json
[{"id":"a1737cd2.bbb3a","type":"tab","label":"Pi Info","disabled":false,"info":""},{"id":"5e46fbac.a65554","type":"tab","label":"Suntrac stats","disabled":false,"info":""},{"id":"a189e29.571e12","type":"tab","label":"Suntrac settings","disabled":false,"info":""},{"id":"fac0334c.b4d2c","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Suntrac Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"924528af.1372f8","type":"ui_tab","z":"","name":"Pi","icon":"dashboard","order":1},{"id":"88faa1e5.90fcf","type":"ui_tab","z":"","name":"Suntrac","icon":"dashboard","order":2},{"id":"6cb108f5.51afe8","type":"ui_group","z":"","name":"Temp","tab":"88faa1e5.90fcf","disp":true,"width":"6","collapse":false},{"id":"f51091a8.1b143","type":"ui_group","z":"","name":"Light","tab":"88faa1e5.90fcf","disp":true,"width":"6","collapse":false},{"id":"91e3eba2.639668","type":"ui_group","z":"","name":"Settings","tab":"88faa1e5.90fcf","disp":true,"width":"6","collapse":false},{"id":"c647a595.f33f38","type":"ui_group","z":"","name":"Col 1","tab":"924528af.1372f8","disp":true,"width":"6","collapse":false},{"id":"4322c5cd.b41c7c","type":"ui_group","z":"","name":"Col 2","tab":"924528af.1372f8","disp":true,"width":"6","collapse":false},{"id":"9c4278b2.cbb3f8","type":"ui_group","z":"","name":"Col 3","tab":"924528af.1372f8","disp":true,"width":"6","collapse":false},{"id":"d69dc47.b471e38","type":"ui_group","z":"","name":"Control","tab":"88faa1e5.90fcf","order":4,"disp":true,"width":"6","collapse":false},{"id":"1d520d02.2479b3","type":"exec","z":"a1737cd2.bbb3a","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":430,"y":200,"wires":[["482323fc.52adcc"],[],[]]},{"id":"5e18f2d6.4c04bc","type":"inject","z":"a1737cd2.bbb3a","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":224.5,"y":208.25,"wires":[["1d520d02.2479b3","ff7c7bba.811f08","c77f751.ea87e88"]]},{"id":"482323fc.52adcc","type":"function","z":"a1737cd2.bbb3a","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["e2f52fa4.f830b","84910e1b.5845e"]]},{"id":"ff7c7bba.811f08","type":"exec","z":"a1737cd2.bbb3a","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"CPU Load","x":430,"y":280,"wires":[["bbb5b00d.90113"],[],[]]},{"id":"c77f751.ea87e88","type":"exec","z":"a1737cd2.bbb3a","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":430,"y":360,"wires":[["72cabad9.042fd4"],[],[]]},{"id":"471af74c.4cc8a8","type":"exec","z":"a1737cd2.bbb3a","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":430,"y":440,"wires":[["2258a80f.95a8e8"],[],[]]},{"id":"2258a80f.95a8e8","type":"function","z":"a1737cd2.bbb3a","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["f329e77d.e39478"]]},{"id":"daf4e7f8.49f2d8","type":"inject","z":"a1737cd2.bbb3a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":230,"y":440,"wires":[["471af74c.4cc8a8"]]},{"id":"f5b24b72.4b1a48","type":"exec","z":"5e46fbac.a65554","command":"python3 /home/pi/suntrac/suntrac.py","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"MEGA-IO","x":379,"y":204,"wires":[["a6233e98.ee84a","9f441268.e6532","13676aac.ed8985","e8da1f4e.fcb17"],[],[]]},{"id":"4e097d93.7cf474","type":"inject","z":"5e46fbac.a65554","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":171,"y":206,"wires":[["f5b24b72.4b1a48"]]},{"id":"a6233e98.ee84a","type":"function","z":"5e46fbac.a65554","name":"Convert Temp","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.temp_1;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["32b31468.526f7c"]]},{"id":"9122f74e.d2e6c8","type":"function","z":"5e46fbac.a65554","name":"true false to on off","func":"msg.payload = msg.payload === true ? \"on\" : \"off\";\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":541,"wires":[[]]},{"id":"c57a63fb.c9769","type":"function","z":"5e46fbac.a65554","name":"true false to on off","func":"msg.payload = msg.payload === true ? \"on\" : \"off\";\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":621,"wires":[[]]},{"id":"44a70299.afaacc","type":"ui_switch","z":"5e46fbac.a65554","name":"Relay 1","label":"Relay 1","tooltip":"","group":"d69dc47.b471e38","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":178,"y":541,"wires":[["9122f74e.d2e6c8"]]},{"id":"b2317b6d.7bd848","type":"ui_switch","z":"5e46fbac.a65554","name":"Relay 2","label":"Relay 2","tooltip":"","group":"d69dc47.b471e38","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":168,"y":621,"wires":[["c57a63fb.c9769"]]},{"id":"e2f52fa4.f830b","type":"ui_gauge","z":"a1737cd2.bbb3a","name":"","group":"c647a595.f33f38","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":200,"wires":[]},{"id":"bbb5b00d.90113","type":"ui_gauge","z":"a1737cd2.bbb3a","name":"","group":"c647a595.f33f38","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":280,"wires":[]},{"id":"72cabad9.042fd4","type":"ui_gauge","z":"a1737cd2.bbb3a","name":"","group":"4322c5cd.b41c7c","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":360,"wires":[]},{"id":"f329e77d.e39478","type":"ui_gauge","z":"a1737cd2.bbb3a","name":"","group":"9c4278b2.cbb3f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":440,"wires":[]},{"id":"32b31468.526f7c","type":"ui_gauge","z":"5e46fbac.a65554","name":"temp 1","group":"6cb108f5.51afe8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp 1","label":"∞F","format":"{{value | number:1}}","min":"0","max":"150","colors":["#4040dc","#28e628","#ca3838"],"seg1":"50","seg2":"100","x":830,"y":120,"wires":[]},{"id":"6cb52594.6add3c","type":"ui_gauge","z":"5e46fbac.a65554","name":"temp 2","group":"6cb108f5.51afe8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp 2","label":"∞F","format":"{{value | number: 1}}","min":"0","max":"150","colors":["#4040dc","#28e628","#ca3838"],"seg1":"50","seg2":"100","x":830,"y":220,"wires":[]},{"id":"f4ce9b73.fca348","type":"ui_gauge","z":"5e46fbac.a65554","name":"east light","group":"f51091a8.1b143","order":1,"width":0,"height":0,"gtype":"gage","title":"East Light","label":"∞V","format":"{{value | number: 3}}","min":"0","max":"4095","colors":["#4040dc","#28e628","#ca3838"],"seg1":"1500","seg2":"2500","x":840,"y":300,"wires":[]},{"id":"874137f8.63a908","type":"ui_gauge","z":"5e46fbac.a65554","name":"west light","group":"f51091a8.1b143","order":2,"width":0,"height":0,"gtype":"gage","title":"West Light","label":"∞V","format":"{{value | number: 3}}","min":"0","max":"4095","colors":["#4040dc","#28e628","#ca3838"],"seg1":"1500","seg2":"3000","x":846,"y":381,"wires":[]},{"id":"84910e1b.5845e","type":"ui_chart","z":"a1737cd2.bbb3a","name":"","group":"c647a595.f33f38","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":790,"y":240,"wires":[[],[]]},{"id":"9f441268.e6532","type":"function","z":"5e46fbac.a65554","name":"Convert Temp","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.temp_2;\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":216,"wires":[["6cb52594.6add3c"]]},{"id":"13676aac.ed8985","type":"function","z":"5e46fbac.a65554","name":"Convert Temp","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.volt3;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":313,"wires":[["f4ce9b73.fca348"]]},{"id":"e8da1f4e.fcb17","type":"function","z":"5e46fbac.a65554","name":"Convert Temp","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.volt_4;\nreturn msg;","outputs":1,"noerr":0,"x":645,"y":381,"wires":[["874137f8.63a908"]]},{"id":"b455e0fb.8a3fc","type":"file in","z":"a189e29.571e12","name":"read config","filename":"/home/pi/suntrac/suntrac.config","format":"utf8","chunk":false,"sendError":false,"x":180,"y":144,"wires":[["32b61c5.a9f75e4","4b34dda1.a4f414","cb3f7031.0d03f","55149faa.e9cf7","ba9dc649.b22fd8","ccfd0047.1b5f9"]]},{"id":"552860f6.03555","type":"ui_numeric","z":"a189e29.571e12","name":"temp_1_offset","label":"Temp 1 Offset","tooltip":"","group":"91e3eba2.639668","order":1,"width":0,"height":0,"passthru":true,"topic":"temp_1_offset","format":"{{value | number}}","min":0,"max":"100","step":1,"x":484,"y":207,"wires":[["4b69c621.8b49a8"]]},{"id":"32b61c5.a9f75e4","type":"function","z":"a189e29.571e12","name":"parse temp_1","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.temp_1_offset;\nmsg.topic = \"temp_1_offset\";\nreturn msg;","outputs":1,"noerr":0,"x":275.5,"y":219,"wires":[["552860f6.03555"]]},{"id":"4b34dda1.a4f414","type":"function","z":"a189e29.571e12","name":"parse temp_2","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.temp_2_offset;\nmsg.topic = \"temp_2_offset\";\nreturn msg;","outputs":1,"noerr":0,"x":274.5,"y":268,"wires":[["db50d559.bfc0d8"]]},{"id":"cb3f7031.0d03f","type":"function","z":"a189e29.571e12","name":"parse light_1","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.light_1_offset;\nmsg.topic = \"light_1_offset\";\nreturn msg;","outputs":1,"noerr":0,"x":270.5,"y":319,"wires":[["b7846a60.e1ddf8"]]},{"id":"55149faa.e9cf7","type":"function","z":"a189e29.571e12","name":"parse light_2","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.light_2_offset;\nmsg.topic = \"light_1_offset\";\nreturn msg;","outputs":1,"noerr":0,"x":270.5,"y":374,"wires":[["5576a273.eedf6c"]]},{"id":"ba9dc649.b22fd8","type":"function","z":"a189e29.571e12","name":"parse latitiude","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.latitude;\nmsg.topic = \"latitude\";\nreturn msg;","outputs":1,"noerr":0,"x":281.5,"y":424,"wires":[["45c956b5.f75658"]]},{"id":"ccfd0047.1b5f9","type":"function","z":"a189e29.571e12","name":"parse longitude","func":"jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.longitude;\nmsg.topic = \"logitude\";\nreturn msg;","outputs":1,"noerr":0,"x":279.5,"y":475,"wires":[["daef0371.c214a"]]},{"id":"228c96aa.b64aaa","type":"file","z":"a189e29.571e12","name":"","filename":"/home/pi/suntrac/suntrac.config","appendNewline":true,"createDir":false,"overwriteFile":"true","x":781,"y":597,"wires":[[]]},{"id":"db50d559.bfc0d8","type":"ui_numeric","z":"a189e29.571e12","name":"temp_2_offset","label":"Temp 2 Offset","tooltip":"","group":"91e3eba2.639668","order":2,"width":0,"height":0,"passthru":true,"topic":"temp_2_offset","format":"{{value | number}}","min":0,"max":"100","step":1,"x":481,"y":263,"wires":[["4b69c621.8b49a8"]]},{"id":"b7846a60.e1ddf8","type":"ui_numeric","z":"a189e29.571e12","name":"light_1_offset","label":"Light 1 offset","tooltip":"","group":"91e3eba2.639668","order":3,"width":0,"height":0,"passthru":true,"topic":"light_1_offset","format":"{{value | number}}","min":0,"max":"100","step":1,"x":470,"y":311,"wires":[["4b69c621.8b49a8"]]},{"id":"5576a273.eedf6c","type":"ui_numeric","z":"a189e29.571e12","name":"light_2_offset","label":"Light 2 offset","tooltip":"","group":"91e3eba2.639668","order":4,"width":0,"height":0,"passthru":true,"topic":"light_2_offset","format":"{{value | number}}","min":0,"max":"100","step":1,"x":473,"y":370,"wires":[["4b69c621.8b49a8"]]},{"id":"45c956b5.f75658","type":"ui_text_input","z":"a189e29.571e12","name":"latitude","label":"Latitude","tooltip":"","group":"91e3eba2.639668","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"latitude","x":460.5,"y":431,"wires":[["4b69c621.8b49a8"]]},{"id":"daef0371.c214a","type":"ui_text_input","z":"a189e29.571e12","name":"longitude","label":"Longitude","tooltip":"","group":"91e3eba2.639668","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"longitude","x":471,"y":484,"wires":[["4b69c621.8b49a8"]]},{"id":"5349b9ac.aab498","type":"ui_button","z":"a189e29.571e12","name":"update","group":"91e3eba2.639668","order":7,"width":"4","height":"1","passthru":true,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"complete","x":237.5,"y":568,"wires":[["e9ed2818.71a278"]]},{"id":"4b69c621.8b49a8","type":"join","z":"a189e29.571e12","name":"form join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":790.5,"y":378,"wires":[["228c96aa.b64aaa"]]},{"id":"e9ed2818.71a278","type":"change","z":"a189e29.571e12","name":"complete","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":395.5,"y":571,"wires":[["4b69c621.8b49a8"]]},{"id":"cf1b0c30.f301b","type":"inject","z":"a189e29.571e12","name":"initial load","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115.5,"y":65,"wires":[["b455e0fb.8a3fc"]]},{"id":"58064285.75aefc","type":"watch","z":"a189e29.571e12","name":"watch config","files":"/home/pi/suntrac/suntrac.config","recursive":"","x":315.5,"y":65,"wires":[["b455e0fb.8a3fc"]]}]
