node-red-dash.json
[
    {
        "id": "a1737cd2.bbb3a",
        "type": "tab",
        "label": "Pi Info",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5e46fbac.a65554",
        "type": "tab",
        "label": "Suntrac stats",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a189e29.571e12",
        "type": "tab",
        "label": "Suntrac settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "adadf904.fec378",
        "type": "tab",
        "label": "Location",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fac0334c.b4d2c",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Suntrac Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "924528af.1372f8",
        "type": "ui_tab",
        "z": "",
        "name": "Pi",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "88faa1e5.90fcf",
        "type": "ui_tab",
        "z": "",
        "name": "Suntrac",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "6cb108f5.51afe8",
        "type": "ui_group",
        "z": "",
        "name": "Temp",
        "tab": "88faa1e5.90fcf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f51091a8.1b143",
        "type": "ui_group",
        "z": "",
        "name": "Light",
        "tab": "88faa1e5.90fcf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "91e3eba2.639668",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "88faa1e5.90fcf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c647a595.f33f38",
        "type": "ui_group",
        "z": "",
        "name": "Col 1",
        "tab": "924528af.1372f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4322c5cd.b41c7c",
        "type": "ui_group",
        "z": "",
        "name": "Col 2",
        "tab": "924528af.1372f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9c4278b2.cbb3f8",
        "type": "ui_group",
        "z": "",
        "name": "Col 3",
        "tab": "924528af.1372f8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d69dc47.b471e38",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "88faa1e5.90fcf",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1210f5fd.6f8d3a",
        "type": "ui_group",
        "z": "adadf904.fec378",
        "name": "Map",
        "tab": "ee6378d6.80b368",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c5374711.d112b8",
        "type": "ui_group",
        "z": "",
        "name": "Location",
        "tab": "ee6378d6.80b368",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e11268a.ac3dc98",
        "type": "ui_group",
        "z": "",
        "name": "Solar",
        "tab": "ee6378d6.80b368",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ee6378d6.80b368",
        "type": "ui_tab",
        "z": "",
        "name": "Location",
        "icon": "dashboard"
    },
    {
        "id": "93eed58.dc37f28",
        "type": "ui_group",
        "z": "",
        "name": "Solar Graph",
        "tab": "ee6378d6.80b368",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d520d02.2479b3",
        "type": "exec",
        "z": "a1737cd2.bbb3a",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 397,
        "y": 299,
        "wires": [
            [
                "482323fc.52adcc"
            ],
            [],
            []
        ]
    },
    {
        "id": "5e18f2d6.4c04bc",
        "type": "inject",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 191.5,
        "y": 307.25,
        "wires": [
            [
                "1d520d02.2479b3",
                "ff7c7bba.811f08",
                "c77f751.ea87e88"
            ]
        ]
    },
    {
        "id": "482323fc.52adcc",
        "type": "function",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 577,
        "y": 299,
        "wires": [
            [
                "e2f52fa4.f830b",
                "84910e1b.5845e"
            ]
        ]
    },
    {
        "id": "ff7c7bba.811f08",
        "type": "exec",
        "z": "a1737cd2.bbb3a",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "CPU Load",
        "x": 397,
        "y": 379,
        "wires": [
            [
                "bbb5b00d.90113"
            ],
            [],
            []
        ]
    },
    {
        "id": "c77f751.ea87e88",
        "type": "exec",
        "z": "a1737cd2.bbb3a",
        "command": "free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Free Memory",
        "x": 397,
        "y": 459,
        "wires": [
            [
                "72cabad9.042fd4"
            ],
            [],
            []
        ]
    },
    {
        "id": "471af74c.4cc8a8",
        "type": "exec",
        "z": "a1737cd2.bbb3a",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 397,
        "y": 539,
        "wires": [
            [
                "2258a80f.95a8e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "2258a80f.95a8e8",
        "type": "function",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 577,
        "y": 539,
        "wires": [
            [
                "f329e77d.e39478"
            ]
        ]
    },
    {
        "id": "daf4e7f8.49f2d8",
        "type": "inject",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "x": 197,
        "y": 539,
        "wires": [
            [
                "471af74c.4cc8a8"
            ]
        ]
    },
    {
        "id": "f5b24b72.4b1a48",
        "type": "exec",
        "z": "5e46fbac.a65554",
        "command": "python3 /home/pi/suntrac/suntrac.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "oldrc": false,
        "name": "MEGA-IO",
        "x": 379,
        "y": 204,
        "wires": [
            [
                "a6233e98.ee84a",
                "9f441268.e6532",
                "13676aac.ed8985",
                "e8da1f4e.fcb17",
                "55dbeba1.e4c794",
                "4662243f.a0aadc",
                "1a3844c1.75852b"
            ],
            [],
            []
        ]
    },
    {
        "id": "4e097d93.7cf474",
        "type": "inject",
        "z": "5e46fbac.a65554",
        "name": "timestamp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 171,
        "y": 206,
        "wires": [
            [
                "f5b24b72.4b1a48"
            ]
        ]
    },
    {
        "id": "a6233e98.ee84a",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "Convert Temp 1",
        "func": "jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.temp_1;\nmsg.temp_units = global.get(\"config\").temp_units;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "32b31468.526f7c"
            ]
        ]
    },
    {
        "id": "9122f74e.d2e6c8",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "true false to on off",
        "func": "msg.payload = msg.payload === true ? \"on\" : \"off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 356,
        "y": 446,
        "wires": [
            []
        ]
    },
    {
        "id": "c57a63fb.c9769",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "true false to on off",
        "func": "msg.payload = msg.payload === true ? \"on\" : \"off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 356,
        "y": 515,
        "wires": [
            []
        ]
    },
    {
        "id": "44a70299.afaacc",
        "type": "ui_switch",
        "z": "5e46fbac.a65554",
        "name": "Relay 1",
        "label": "Relay 1",
        "tooltip": "",
        "group": "d69dc47.b471e38",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 136,
        "y": 446,
        "wires": [
            [
                "9122f74e.d2e6c8"
            ]
        ]
    },
    {
        "id": "b2317b6d.7bd848",
        "type": "ui_switch",
        "z": "5e46fbac.a65554",
        "name": "Relay 2",
        "label": "Relay 2",
        "tooltip": "",
        "group": "d69dc47.b471e38",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 136,
        "y": 515,
        "wires": [
            [
                "c57a63fb.c9769"
            ]
        ]
    },
    {
        "id": "e2f52fa4.f830b",
        "type": "ui_gauge",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "group": "c647a595.f33f38",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 757,
        "y": 299,
        "wires": []
    },
    {
        "id": "bbb5b00d.90113",
        "type": "ui_gauge",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "group": "c647a595.f33f38",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Processor",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 757,
        "y": 379,
        "wires": []
    },
    {
        "id": "72cabad9.042fd4",
        "type": "ui_gauge",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "group": "4322c5cd.b41c7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "RAM",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 757,
        "y": 459,
        "wires": []
    },
    {
        "id": "f329e77d.e39478",
        "type": "ui_gauge",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "group": "9c4278b2.cbb3f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk",
        "label": "Usage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 757,
        "y": 539,
        "wires": []
    },
    {
        "id": "32b31468.526f7c",
        "type": "ui_gauge",
        "z": "5e46fbac.a65554",
        "name": "temp 1",
        "group": "6cb108f5.51afe8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp 1",
        "label": "∞ {{msg.temp_units}}",
        "format": "{{value | number:1}}",
        "min": "0",
        "max": "150",
        "colors": [
            "#4040dc",
            "#28e628",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "6cb52594.6add3c",
        "type": "ui_gauge",
        "z": "5e46fbac.a65554",
        "name": "temp 2",
        "group": "6cb108f5.51afe8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp 2",
        "label": "∞ {{msg.temp_units}}",
        "format": "{{value | number: 1}}",
        "min": "0",
        "max": "150",
        "colors": [
            "#4040dc",
            "#28e628",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "f4ce9b73.fca348",
        "type": "ui_gauge",
        "z": "5e46fbac.a65554",
        "name": "east light",
        "group": "f51091a8.1b143",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "East Light",
        "label": "∞V",
        "format": "{{value | number: 3}}",
        "min": "0",
        "max": "4095",
        "colors": [
            "#4040dc",
            "#28e628",
            "#ca3838"
        ],
        "seg1": "1500",
        "seg2": "2500",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "874137f8.63a908",
        "type": "ui_gauge",
        "z": "5e46fbac.a65554",
        "name": "west light",
        "group": "f51091a8.1b143",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "West Light",
        "label": "∞V",
        "format": "{{value | number: 3}}",
        "min": "0",
        "max": "4095",
        "colors": [
            "#4040dc",
            "#28e628",
            "#ca3838"
        ],
        "seg1": "1500",
        "seg2": "3000",
        "x": 841,
        "y": 389,
        "wires": []
    },
    {
        "id": "84910e1b.5845e",
        "type": "ui_chart",
        "z": "a1737cd2.bbb3a",
        "name": "",
        "group": "c647a595.f33f38",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 757,
        "y": 339,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9f441268.e6532",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "Convert Temp 2",
        "func": "jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.temp_2;\nmsg.temp_units = global.get(\"config\").temp_units;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 644,
        "y": 216,
        "wires": [
            [
                "6cb52594.6add3c"
            ]
        ]
    },
    {
        "id": "13676aac.ed8985",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "Convert light 1",
        "func": "jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.volt3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 313,
        "wires": [
            [
                "f4ce9b73.fca348"
            ]
        ]
    },
    {
        "id": "e8da1f4e.fcb17",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "Convert light 2",
        "func": "jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.volt_4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 381,
        "wires": [
            [
                "874137f8.63a908"
            ]
        ]
    },
    {
        "id": "552860f6.03555",
        "type": "ui_numeric",
        "z": "a189e29.571e12",
        "name": "temp_1_offset",
        "label": "Temp 1 Offset",
        "tooltip": "",
        "group": "91e3eba2.639668",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "temp_1_offset",
        "format": "{{value | number}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 475,
        "y": 169,
        "wires": [
            [
                "61a2e44.e560c1c"
            ]
        ]
    },
    {
        "id": "228c96aa.b64aaa",
        "type": "file",
        "z": "a189e29.571e12",
        "name": "",
        "filename": "/home/pi/suntrac/suntrac.config",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 574,
        "y": 527,
        "wires": [
            []
        ]
    },
    {
        "id": "db50d559.bfc0d8",
        "type": "ui_numeric",
        "z": "a189e29.571e12",
        "name": "temp_2_offset",
        "label": "Temp 2 Offset",
        "tooltip": "",
        "group": "91e3eba2.639668",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "temp_2_offset",
        "format": "{{value | number}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 472,
        "y": 229,
        "wires": [
            [
                "61a2e44.e560c1c"
            ]
        ]
    },
    {
        "id": "b7846a60.e1ddf8",
        "type": "ui_numeric",
        "z": "a189e29.571e12",
        "name": "light_1_offset",
        "label": "Light 1 offset",
        "tooltip": "",
        "group": "91e3eba2.639668",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "light_1_offset",
        "format": "{{value | number}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 469,
        "y": 288,
        "wires": [
            [
                "61a2e44.e560c1c"
            ]
        ]
    },
    {
        "id": "5576a273.eedf6c",
        "type": "ui_numeric",
        "z": "a189e29.571e12",
        "name": "light_2_offset",
        "label": "Light 2 offset",
        "tooltip": "",
        "group": "91e3eba2.639668",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "light_2_offset",
        "format": "{{value | number}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 480,
        "y": 354,
        "wires": [
            [
                "61a2e44.e560c1c"
            ]
        ]
    },
    {
        "id": "5349b9ac.aab498",
        "type": "ui_button",
        "z": "a189e29.571e12",
        "name": "update settings button",
        "group": "91e3eba2.639668",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "config",
        "payloadType": "global",
        "topic": "updated",
        "x": 279.5,
        "y": 528,
        "wires": [
            [
                "228c96aa.b64aaa"
            ]
        ]
    },
    {
        "id": "d188101e.62ea3",
        "type": "ui_dropdown",
        "z": "a189e29.571e12",
        "name": "temp_units",
        "label": "Temperature Units",
        "tooltip": "",
        "place": "Select option",
        "group": "91e3eba2.639668",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Fahrenheit",
                "value": "F",
                "type": "str"
            },
            {
                "label": "Celsius",
                "value": "C",
                "type": "str"
            },
            {
                "label": "kelvin",
                "value": "K",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "temp_units",
        "x": 476.5,
        "y": 437,
        "wires": [
            [
                "61a2e44.e560c1c"
            ]
        ]
    },
    {
        "id": "ae372caf.ea3e9",
        "type": "worldmap",
        "z": "adadf904.fec378",
        "name": "",
        "lat": "33",
        "lon": "-111",
        "zoom": "",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "path": "",
        "x": 629,
        "y": 432,
        "wires": []
    },
    {
        "id": "acce09d7.b9ec98",
        "type": "function",
        "z": "adadf904.fec378",
        "name": "get position",
        "func": "var config = global.get(\"config\");\nvar lat = config.latitude;\nvar lon = config.longitude;\nnode.warn(lat);\nnode.warn(lon);\nmsg.payload={lat:lat, lon:lon, name: \"Suntrac\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 323,
        "y": 433,
        "wires": [
            [
                "ae372caf.ea3e9"
            ]
        ]
    },
    {
        "id": "8d064042.99588",
        "type": "ui_template",
        "z": "adadf904.fec378",
        "group": "1210f5fd.6f8d3a",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 599,
        "y": 492,
        "wires": [
            []
        ]
    },
    {
        "id": "6118e7df.11c898",
        "type": "template",
        "z": "adadf904.fec378",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" height=300px ></iframe>",
        "x": 429,
        "y": 492,
        "wires": [
            [
                "8d064042.99588"
            ]
        ]
    },
    {
        "id": "9249a34f.aeed5",
        "type": "ui_text_input",
        "z": "adadf904.fec378",
        "name": "latitude",
        "label": "Latitude",
        "tooltip": "",
        "group": "c5374711.d112b8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "latitude",
        "x": 429.5,
        "y": 153,
        "wires": [
            [
                "21f442f4.f2a8be"
            ]
        ]
    },
    {
        "id": "a6e92ac8.dda318",
        "type": "ui_text_input",
        "z": "adadf904.fec378",
        "name": "longitude",
        "label": "Longitude",
        "tooltip": "",
        "group": "c5374711.d112b8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "longitude",
        "x": 436,
        "y": 223,
        "wires": [
            [
                "21f442f4.f2a8be"
            ]
        ]
    },
    {
        "id": "1ad2dca8.76cc53",
        "type": "inject",
        "z": "adadf904.fec378",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 178,
        "y": 500,
        "wires": [
            [
                "6118e7df.11c898"
            ]
        ]
    },
    {
        "id": "3f2de5d5.7ed31a",
        "type": "inject",
        "z": "a189e29.571e12",
        "name": "initial load",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 154,
        "y": 70,
        "wires": [
            [
                "ce8b14af.6a0e38"
            ]
        ]
    },
    {
        "id": "ce8b14af.6a0e38",
        "type": "file in",
        "z": "a189e29.571e12",
        "name": "read config",
        "filename": "/home/pi/suntrac/suntrac.config",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 360.5,
        "y": 71,
        "wires": [
            [
                "1840bda6.697a42"
            ]
        ]
    },
    {
        "id": "1840bda6.697a42",
        "type": "function",
        "z": "a189e29.571e12",
        "name": "setup globals",
        "func": "jData = JSON.parse(msg.payload);\nglobal.set('config', jData);\n\nreturn(jData);\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 574.5,
        "y": 71,
        "wires": [
            [
                "c74c96eb.ea5458",
                "ec5e102c.f0127",
                "630d590b.469af8",
                "e6d83cd7.ae148",
                "c7fe834d.2cff9"
            ]
        ]
    },
    {
        "id": "61a2e44.e560c1c",
        "type": "function",
        "z": "a189e29.571e12",
        "name": "update settings",
        "func": "var key = msg.topic;\nvar value = msg.payload;\nvar newConfig = global.get('config');\n\nnewConfig[key] = value;\nglobal.set('config', newConfig);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 790.5,
        "y": 281,
        "wires": [
            []
        ]
    },
    {
        "id": "21f442f4.f2a8be",
        "type": "function",
        "z": "adadf904.fec378",
        "name": "update location",
        "func": "var key = msg.topic;\nvar value = msg.payload;\nvar newConfig = global.get('config');\n\nnewConfig[key] = value;\nglobal.set('config', newConfig);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 172,
        "wires": [
            [
                "acce09d7.b9ec98"
            ]
        ]
    },
    {
        "id": "280d2bcc.0cc474",
        "type": "ui_button",
        "z": "adadf904.fec378",
        "name": "update location button",
        "group": "c5374711.d112b8",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "config",
        "payloadType": "global",
        "topic": "updated",
        "x": 246,
        "y": 328,
        "wires": [
            [
                "b62dd729.ff78e8"
            ]
        ]
    },
    {
        "id": "b62dd729.ff78e8",
        "type": "file",
        "z": "adadf904.fec378",
        "name": "",
        "filename": "/home/pi/suntrac/suntrac.config",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 577.5,
        "y": 329,
        "wires": [
            []
        ]
    },
    {
        "id": "c74c96eb.ea5458",
        "type": "function",
        "z": "a189e29.571e12",
        "name": "send temp 1",
        "func": "var config = global.get('config');\n\nmsg.payload = config.temp_1_offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 235.5,
        "y": 172,
        "wires": [
            [
                "552860f6.03555"
            ]
        ]
    },
    {
        "id": "ec5e102c.f0127",
        "type": "function",
        "z": "a189e29.571e12",
        "name": "send temp 2",
        "func": "var config = global.get('config');\n\nmsg.payload = config.temp_2_offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 236,
        "y": 226,
        "wires": [
            [
                "db50d559.bfc0d8"
            ]
        ]
    },
    {
        "id": "630d590b.469af8",
        "type": "function",
        "z": "a189e29.571e12",
        "name": "send light 1",
        "func": "var config = global.get('config');\n\nmsg.payload = config.light_1_offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 231,
        "y": 285,
        "wires": [
            [
                "b7846a60.e1ddf8"
            ]
        ]
    },
    {
        "id": "e6d83cd7.ae148",
        "type": "function",
        "z": "a189e29.571e12",
        "name": "send light 2",
        "func": "var config = global.get('config');\n\nmsg.payload = config.light_2_offset;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 229,
        "y": 349,
        "wires": [
            [
                "5576a273.eedf6c"
            ]
        ]
    },
    {
        "id": "c7fe834d.2cff9",
        "type": "function",
        "z": "a189e29.571e12",
        "name": "send temp units",
        "func": "var config = global.get('config');\n\nmsg.payload = config.temp_units;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 216,
        "y": 432,
        "wires": [
            [
                "d188101e.62ea3"
            ]
        ]
    },
    {
        "id": "1df5be2a.9538e2",
        "type": "inject",
        "z": "adadf904.fec378",
        "name": "initial load",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 148,
        "y": 67,
        "wires": [
            [
                "5ea25aa9.1fc8d4"
            ]
        ]
    },
    {
        "id": "5ea25aa9.1fc8d4",
        "type": "file in",
        "z": "adadf904.fec378",
        "name": "read config",
        "filename": "/home/pi/suntrac/suntrac.config",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 354.5,
        "y": 68,
        "wires": [
            [
                "123277da.e2e468"
            ]
        ]
    },
    {
        "id": "123277da.e2e468",
        "type": "function",
        "z": "adadf904.fec378",
        "name": "setup globals",
        "func": "jData = JSON.parse(msg.payload);\nglobal.set('config', jData);\n\nreturn(jData);\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 568.5,
        "y": 68,
        "wires": [
            [
                "745e4d7d.ec4164",
                "41f50035.a0195",
                "acce09d7.b9ec98"
            ]
        ]
    },
    {
        "id": "745e4d7d.ec4164",
        "type": "function",
        "z": "adadf904.fec378",
        "name": "send latitude",
        "func": "var config = global.get('config');\n\nmsg.payload = config.latitude;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 232.5,
        "y": 155,
        "wires": [
            [
                "9249a34f.aeed5"
            ]
        ]
    },
    {
        "id": "41f50035.a0195",
        "type": "function",
        "z": "adadf904.fec378",
        "name": "send longitude",
        "func": "var config = global.get('config');\n\nmsg.payload = config.longitude;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 245,
        "y": 225,
        "wires": [
            [
                "a6e92ac8.dda318"
            ]
        ]
    },
    {
        "id": "ba2c9981.790f78",
        "type": "inject",
        "z": "adadf904.fec378",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 120,
        "y": 428,
        "wires": [
            [
                "acce09d7.b9ec98"
            ]
        ]
    },
    {
        "id": "4662243f.a0aadc",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "Convert altitude",
        "func": "jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.sun_altitude;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 608,
        "y": 507,
        "wires": [
            [
                "c324dccd.11848",
                "50874988.4e0778"
            ]
        ]
    },
    {
        "id": "c324dccd.11848",
        "type": "ui_gauge",
        "z": "5e46fbac.a65554",
        "name": "altitude",
        "group": "e11268a.ac3dc98",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Altitude",
        "label": "∞V",
        "format": "{{value | number: 1}}",
        "min": "0",
        "max": "90",
        "colors": [
            "#4040dc",
            "#28e628",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 829,
        "y": 531,
        "wires": []
    },
    {
        "id": "55dbeba1.e4c794",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "Convert azimuth",
        "func": "jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.sun_azimuth;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 604,
        "y": 446,
        "wires": [
            [
                "731c45cc.53574c",
                "4c4cdbbe.d72574"
            ]
        ]
    },
    {
        "id": "731c45cc.53574c",
        "type": "ui_gauge",
        "z": "5e46fbac.a65554",
        "name": "azimuth",
        "group": "e11268a.ac3dc98",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Azimuth",
        "label": "∞D",
        "format": "{{value | number: 1}}",
        "min": "-90",
        "max": "90",
        "colors": [
            "#4040dc",
            "#28e628",
            "#ca3838"
        ],
        "seg1": "-45",
        "seg2": "45",
        "x": 830,
        "y": 457,
        "wires": []
    },
    {
        "id": "8b3b8c27.a6a27",
        "type": "ui_text",
        "z": "5e46fbac.a65554",
        "group": "c5374711.d112b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "time zone",
        "label": "Time Zone",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 842.5,
        "y": 598,
        "wires": []
    },
    {
        "id": "1a3844c1.75852b",
        "type": "function",
        "z": "5e46fbac.a65554",
        "name": "Convert altitude",
        "func": "jData = JSON.parse(msg.payload);\n\nmsg.payload = jData.time_zone;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 619,
        "y": 600,
        "wires": [
            [
                "8b3b8c27.a6a27"
            ]
        ]
    },
    {
        "id": "4c4cdbbe.d72574",
        "type": "ui_chart",
        "z": "5e46fbac.a65554",
        "name": "azimuth chart",
        "group": "93eed58.dc37f28",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Azimuth",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 859.5,
        "y": 653,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "50874988.4e0778",
        "type": "ui_chart",
        "z": "5e46fbac.a65554",
        "name": "altitude chart",
        "group": "93eed58.dc37f28",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Altitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 838.5,
        "y": 713,
        "wires": [
            [],
            []
        ]
    }
]
