node-red/flows.json
[{"id":"57bcf69e.5864a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96f42006.05339","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef29be02.456e","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"697b5836.0b62b8","type":"ui_group","z":"","name":"Temperature","tab":"ef29be02.456e","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d7161b2.ae12c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Suntrac Tech","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b6c949d1.f7e7f8","type":"ui_group","z":"","name":"Lights","tab":"ef29be02.456e","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c683daf.5f30c4","type":"ui_group","z":"","name":"Tracking","tab":"ef29be02.456e","order":4,"disp":true,"width":"6","collapse":false},{"id":"670f2bbe.cf4644","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":2,"disabled":false,"hidden":false},{"id":"ad4a30e.8029ed","type":"ui_group","z":"","name":"Settings","tab":"670f2bbe.cf4644","disp":true,"width":"6","collapse":false},{"id":"b2fab0af.0b7a1","type":"ui_group","z":"","name":"Control","tab":"670f2bbe.cf4644","disp":true,"width":"6","collapse":false},{"id":"46e071da.c5c3a","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"d122c6f5.9bcac8","type":"ui_group","z":"","name":"Mirror","tab":"ef29be02.456e","order":2,"disp":true,"width":"6","collapse":false},{"id":"c96e8c20.ca8a2","type":"json","z":"57bcf69e.5864a8","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":80,"wires":[["ad61469b.9cbe08","b3c11ef.52fe9e","38adbf6d.42c94","e7e44c54.61a75","a5bc3867.025328","175b6af1.5d1a65","c37f8e80.7fb26","ac28e92c.867928","862cba9.17dc948"]]},{"id":"ad61469b.9cbe08","type":"debug","z":"57bcf69e.5864a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":80,"wires":[]},{"id":"576467fb.987c88","type":"ui_gauge","z":"57bcf69e.5864a8","name":"inlet","group":"697b5836.0b62b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Inlet","label":"","format":"{{value | number:2}}°","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":110,"y":300,"wires":[]},{"id":"b3c11ef.52fe9e","type":"function","z":"57bcf69e.5864a8","name":"get temp_inlet","func":"const global_temp_units = global.get('global_temp_units') || 'C';\n\nmsg.payload = global_temp_units === 'F' ? msg.payload.t_i * 1.8 + 32 : msg.payload.t_i;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":200,"wires":[["576467fb.987c88","5a9ad4f9.72359c"]]},{"id":"38adbf6d.42c94","type":"function","z":"57bcf69e.5864a8","name":"get temp_outlet","func":"const global_temp_units = global.get('global_temp_units') || 'C';\n\nmsg.payload = global_temp_units === 'F' ? msg.payload.t_o * 1.8 + 32 : msg.payload.t_o;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["a45ef2d4.80ee4","aa59a802.94f7d8"]]},{"id":"a45ef2d4.80ee4","type":"ui_gauge","z":"57bcf69e.5864a8","name":"outlet","group":"697b5836.0b62b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Outlet","label":"","format":"{{value | number:2}}°","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":300,"wires":[]},{"id":"e7e44c54.61a75","type":"function","z":"57bcf69e.5864a8","name":"get light_east","func":"msg.payload = msg.payload.l_e;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["a2b59127.7305f","bfc3df8c.a1655"]]},{"id":"a2b59127.7305f","type":"ui_gauge","z":"57bcf69e.5864a8","name":"east","group":"b6c949d1.f7e7f8","order":1,"width":0,"height":0,"gtype":"gage","title":"East","label":"V","format":"{{value | number:3}}","min":0,"max":"3.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"a5bc3867.025328","type":"function","z":"57bcf69e.5864a8","name":"get light_west","func":"msg.payload = msg.payload.l_w;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":200,"wires":[["50b17da7.d4f9e4","f3650c3f.43a4d"]]},{"id":"50b17da7.d4f9e4","type":"ui_gauge","z":"57bcf69e.5864a8","name":"west","group":"b6c949d1.f7e7f8","order":3,"width":0,"height":0,"gtype":"gage","title":"West","label":"V","format":"{{value | number:3}}","min":0,"max":"3.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":300,"wires":[]},{"id":"5a9ad4f9.72359c","type":"ui_chart","z":"57bcf69e.5864a8","name":"inlet","group":"697b5836.0b62b8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":110,"y":380,"wires":[[]]},{"id":"aa59a802.94f7d8","type":"ui_chart","z":"57bcf69e.5864a8","name":"outlet","group":"697b5836.0b62b8","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":380,"wires":[[]]},{"id":"bfc3df8c.a1655","type":"ui_chart","z":"57bcf69e.5864a8","name":"east","group":"b6c949d1.f7e7f8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":380,"wires":[[]]},{"id":"f3650c3f.43a4d","type":"ui_chart","z":"57bcf69e.5864a8","name":"west","group":"b6c949d1.f7e7f8","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":380,"wires":[[]]},{"id":"29b3c688.df667a","type":"ui_chart","z":"57bcf69e.5864a8","name":"altitude","group":"5c683daf.5f30c4","order":2,"width":0,"height":0,"label":"Altitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":600,"wires":[[]]},{"id":"175b6af1.5d1a65","type":"function","z":"57bcf69e.5864a8","name":"get sun_altitude","func":"msg.payload = msg.payload.s_alt;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":500,"wires":[["29b3c688.df667a"]]},{"id":"c37f8e80.7fb26","type":"function","z":"57bcf69e.5864a8","name":"get sun_azimuth","func":"msg.payload = msg.payload.s_az;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":520,"wires":[["b2f8452.f7a9ab8"]]},{"id":"b2f8452.f7a9ab8","type":"ui_chart","z":"57bcf69e.5864a8","name":"azimuth","group":"5c683daf.5f30c4","order":3,"width":0,"height":0,"label":"Azimuth","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":600,"wires":[[]]},{"id":"8499b7e1.4e7fd8","type":"ui_text","z":"57bcf69e.5864a8","group":"5c683daf.5f30c4","order":1,"width":0,"height":0,"name":"last moved","label":"Last Moved","format":"{{msg.payload}}","layout":"row-spread","x":130,"y":600,"wires":[]},{"id":"ac28e92c.867928","type":"function","z":"57bcf69e.5864a8","name":"get last_moved","func":"function fmtMSS(s){return(s-(s%=60))/60+(9<s?':':':0')+s}\n\nmsg.payload = fmtMSS(Math.floor(msg.payload.lm));\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":500,"wires":[["8499b7e1.4e7fd8"]]},{"id":"8f33073a.e20ef8","type":"file in","z":"96f42006.05339","name":"config in","filename":"/home/pi/suntrac/panel/suntrac_config.json","format":"utf8","chunk":false,"sendError":true,"encoding":"utf8","x":300,"y":80,"wires":[["aa94e0b7.6d74c"]]},{"id":"9c765716.a81fa8","type":"inject","z":"96f42006.05339","name":"read config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":80,"wires":[["8f33073a.e20ef8"]]},{"id":"aa94e0b7.6d74c","type":"json","z":"96f42006.05339","name":"config json","property":"payload","action":"","pretty":false,"x":470,"y":80,"wires":[["986d4ea7.56e1d","e0fa1a9.8980de8","945e1e7a.0f70d"]]},{"id":"945e1e7a.0f70d","type":"debug","z":"96f42006.05339","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":320,"wires":[]},{"id":"5fc90452.fd3f9c","type":"file","z":"96f42006.05339","name":"write config","filename":"/home/pi/suntrac/panel/suntrac_config.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":130,"y":300,"wires":[["c5260801.338f68","8f33073a.e20ef8"]]},{"id":"986d4ea7.56e1d","type":"ui_template","z":"96f42006.05339","group":"ad4a30e.8029ed","name":"settings form","order":0,"width":0,"height":0,"format":"\n<label for='proc_id'>Proc Id:\n    <span name='proc-id'>{{msg.payload.proc_id}}</span>\n</label><br/>\n<label for='proc_id'>ICCID:\n    <span name='iccid'>{{msg.payload.comms.iccid}}</span>\n</label><br/><br/>\n<form method='post' action='/config' >\n    <input hidden=true name='fileValues' value={{msg.payload}} />\n    <label for='latitude'>Latitude:\n        <input name=\"latitude\" type=\"number\" value={{msg.payload.comms.lat}} />\n    </label><br/><br/>\n    <label for=\"longitude\">\n        Longitude:\n        <input name=\"longitude\" type=\"number\" value={{msg.payload.comms.lng}} />\n    </label><br/><br/>\n    <label for=\"refrigerant\">Refrigerant:\n        <select id='refer' name=\"refrigerant\">\n            <option value='R-410a'>R-410a</option>\n            <option value='R-407c'>R-407c</option>\n            <option value='R-22'>R-22</option>\n            <option value='R-134a'>R-134a</option>\n            <option value='HFC-134a'>HFC-134a</option>\n        </select>\n    </label><br/><br/>\n    <label for=\"units\">Units:\n        <input type=\"radio\" id=\"unit_C\" name=\"temp_units\" value=\"C\" /><label>Celsius</label>\n        <input type=\"radio\" id=\"unit_F\" name=\"temp_units\" value=\"F\" /><label>Fahrenheit</label>\n    </label><br/><br/>\n    <input type=\"submit\" />\n</form>\n\n<script type='text/javascript'>\n    $(function() {\n        console.log( \"ready!\" );\n    });\n    console.log('in script');\n    $(function(scope) {\n        console.log('in scope');\n        scope.$watch('msg.payload', function(data) {\n            consle.log('in watch');\n            if (data) {\n                console.log(data.refrigerant);\n                $(\"#refer option[value=\"+data.refrigerant+\"]\").prop('selected', true);\n                $(\"#unit_\"+data.temp_units).prop(\"checked\", true);\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":730,"y":140,"wires":[[]]},{"id":"5e67069f.afad28","type":"http in","z":"96f42006.05339","name":"[post] /config","url":"/config","method":"post","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["9de9eab0.0bee38"]]},{"id":"9de9eab0.0bee38","type":"json","z":"96f42006.05339","name":"output","property":"payload","action":"obj","pretty":true,"x":290,"y":180,"wires":[["29d41f2b.30491","e0fa1a9.8980de8"]]},{"id":"427362f6.ceb36c","type":"ui_button","z":"96f42006.05339","name":"start panel","group":"b2fab0af.0b7a1","order":0,"width":0,"height":0,"passthru":false,"label":"Start Panel","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"","payloadType":"str","topic":"","x":490,"y":480,"wires":[["5fa8065c.6fcc58"]]},{"id":"4250104d.3cff2","type":"ui_button","z":"96f42006.05339","name":"stop panel","group":"b2fab0af.0b7a1","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Panel","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"","payloadType":"str","topic":"","x":490,"y":580,"wires":[["595610ad.e943f"]]},{"id":"624f1cc1.7a5974","type":"ui_button","z":"96f42006.05339","name":"reboot","group":"b2fab0af.0b7a1","order":0,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":470,"y":700,"wires":[["793fe472.7f6fbc"]]},{"id":"5fa8065c.6fcc58","type":"exec","z":"96f42006.05339","command":"sudo systemctl start suntracd.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"start suntracd","x":700,"y":480,"wires":[[],[],["c0e7cf6d.b1173"]]},{"id":"595610ad.e943f","type":"exec","z":"96f42006.05339","command":"sudo systemctl stop suntracd.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"stop suntracd","x":720,"y":580,"wires":[[],[],["c0e7cf6d.b1173"]]},{"id":"793fe472.7f6fbc","type":"exec","z":"96f42006.05339","command":"sudo reboot","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":720,"y":700,"wires":[[],[],["c0e7cf6d.b1173"]]},{"id":"57a9b347.7f179c","type":"ui_button","z":"96f42006.05339","name":"halt","group":"b2fab0af.0b7a1","order":0,"width":0,"height":0,"passthru":false,"label":"Halt","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"","payloadType":"str","topic":"","x":470,"y":760,"wires":[["c5cc4e93.acfb7"]]},{"id":"c5cc4e93.acfb7","type":"exec","z":"96f42006.05339","command":"sudo halt","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":700,"y":800,"wires":[[],[],["c0e7cf6d.b1173"]]},{"id":"6a09e299.71a40c","type":"ui_button","z":"96f42006.05339","name":"exit tech","group":"b2fab0af.0b7a1","order":0,"width":0,"height":0,"passthru":false,"label":"Exit Tech Mode","tooltip":"","color":"","bgcolor":"","icon":"exit_to_app","payload":"","payloadType":"str","topic":"","x":480,"y":640,"wires":[["61c4dd61.235294"]]},{"id":"61c4dd61.235294","type":"exec","z":"96f42006.05339","command":"killall node-red","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"exit tech","x":680,"y":640,"wires":[[],[],["c0e7cf6d.b1173"]]},{"id":"df23ddd9.813e8","type":"ui_toast","z":"96f42006.05339","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1030,"y":640,"wires":[]},{"id":"c0e7cf6d.b1173","type":"function","z":"96f42006.05339","name":"humanize code","func":"if (msg.payload.code === 0) {\n    msg.payload = 'Command Completed'\n}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":460,"wires":[["df23ddd9.813e8"]]},{"id":"65bf315a.66167","type":"redis-in","z":"57bcf69e.5864a8","server":"46e071da.c5c3a","command":"subscribe","name":"dashboard data","topic":"suntrac-reading","timeout":0,"x":440,"y":80,"wires":[["c96e8c20.ca8a2"]]},{"id":"862cba9.17dc948","type":"function","z":"57bcf69e.5864a8","name":"get roll","func":"msg.payload = msg.payload.roll;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":500,"wires":[["60c3eacc.81fa64","7147a234.5c268c"]]},{"id":"60c3eacc.81fa64","type":"ui_gauge","z":"57bcf69e.5864a8","name":"mirror","group":"d122c6f5.9bcac8","order":1,"width":0,"height":0,"gtype":"gage","title":"West / East","label":"V","format":"{{value | number:3}}","min":"-90","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":600,"wires":[]},{"id":"7147a234.5c268c","type":"ui_chart","z":"57bcf69e.5864a8","name":"mirror","group":"d122c6f5.9bcac8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":680,"wires":[[]]},{"id":"29d41f2b.30491","type":"function","z":"96f42006.05339","name":"merge file and form","func":"const temps = [\n    {c: 110.0, l:'R-407c'},\n    {c: 115.0, l: 'R-22'},\n    {c: 115.0, l: 'R-410a'},\n    {c: 120.0, l: 'R-134a'},\n    {c: 120.0, l: 'HFC-134a'}\n];\n\nnewConfig = JSON.parse(msg.payload.fileValues);\nnewConfig.comms.lat = msg.payload.latitude;\nnewConfig.comms.lng = msg.payload.longitude;\nnewConfig.refrigerant = msg.payload.refrigerant;\nnewConfig.temp_units = msg.payload.temp_units;\nnewConfig.max_temp = temps.find(t => t.l === msg.payload.refrigerant).c\n\nmsg.payload = newConfig;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["5fc90452.fd3f9c"]]},{"id":"e0fa1a9.8980de8","type":"function","z":"96f42006.05339","name":"save units in global","func":"global.set('global_temp_units', msg.payload.temp_units);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[[]]},{"id":"c5260801.338f68","type":"http response","z":"96f42006.05339","name":"file written","statusCode":"303","headers":{"location":"/ui"},"x":380,"y":320,"wires":[]}]